/*****Global******/
body{
	padding-top: 3%;
	background: url(image.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#map-canvas{
	width: 100%;
	min-height: 300px;
	margin: 0 0 4% 0;
}

div.socialmediaicon a{
	padding-right: 10%;
}

/****Typographic****/

*{
	font-family: "Ubuntu Mono", sans-serif;
}
h2{
	font-family: "Ubuntu Mono", sans-serif;	
}
h3{
	font-family: "Ubuntu Mono", sans-serif;
}

div a{
	color: #2C5B4C;
	text-decoration: none;
}

div a:hover{
	color: #2C5B4C;
	text-decoration: none;	
}

.info .entry small{
	opacity: 1;
	color: #2C5B4C;
}

/*****Info column******/
.col-lg-6{
	background-color: rgba(250,245,249,0.7);
}

/*****Navbar*****/
.subMenu{
	position: absolute;
	top: 462px;
	height: 80px;
	z-index: 1000;
	width: 100%;
	max-width: 1150px;
	min-width: 960px;
}
.container nav{
	background: rgba(250,245,249,0.9);
	font-family: Courier;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}